.auth_root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.auth_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 80px;
  gap: 40px;
}

.auth_navbar {
  max-width: 350px;
  height: 100%;
}
