.dashboard_root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.dashboard_student_major {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dashboard_student_courses_table {
  max-height: 250px;
  overflow: auto;
}

.dashboard_courses_section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dashboard_teacher_courses_table {
  max-height: 350px;
  overflow: auto;
}

.dashboard_action_button_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dashboard_action_button {
  max-width: 250px;
}
