.dashboard_root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.dashboard_student_major {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dashboard_student_courses_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
