.unauth_navbar {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--cyan2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  text-shadow: 5px 5px 0px var(--shadow-color);
  font-family: var(--font-kode);
  box-shadow: 0px 5px 5px var(--shadow-color);
}

.auth_navbar {
  background-color: var(--cyan2);
  display: flex;
  flex-direction: column;
  font-family: var(--font-kode);
  color: white;
  padding: 20px;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.auth_navbar h1 {
  text-shadow: 5px 5px 0px var(--shadow-color);
}

.auth_navlinks_header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.auth_navlinks_footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.auth_navlink {
  display: flex;
  gap: 5px;
  width: 100%;
}

.auth_navlink:hover {
  color: var(--red1);
  cursor: pointer;
  transition: 0.25s;
}

.auth_navlink a {
  color: white;
  text-decoration: none;
}

.auth_navlink_icon {
  width: 10px;
  height: 10px;
  background: var(--red1);
  margin-top: auto;
  margin-bottom: auto;
}

.auth_logout_button {
  font-family: var(--font-josefin);
  background: var(--red1);
  color: white;
  border: 0px;
  border-radius: 50px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1rem;
  transition: 0.25s;
  width: 100%;
  align-self: center;
}

.auth_logout_button:hover {
  cursor: pointer;
  transition: 0.25s;
  transform: translateY(-2px);
  box-shadow: 0px 5px 5px var(--shadow-color);
}

.auth_header {
  display: flex;
  flex-direction: row;
}

.auth_title{
  width: 150px;
}

.auth_userBox {
  background-color: #DF6C49;
  color: white;
  display: flex;
  width: 150px;
  height: 35px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.auth_userInit {
  font: GeistMonoVF;
  font-size: 15px;
}

.auth_userName{
  font-size: 10px;
  margin-left: 10%;
}

.change_password_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: left;
}

.change_password_form_field {
  display: flex;
  flex-direction: column;
}

.change_password_result_field {
  min-height: 30px;
}

.change_password_success_message {
  color: green;
  margin: 0px;
  font-size: 15px;
}

.change_password_error_message {
  color: red;
  margin: 0px;
  font-size: 15px;
}

#change_password_submit {
  font-family: var(--font-josefin);
  background: var(--red1);
  color: white;
  border: 0px;
  border-radius: 50px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1rem;
  transition: 0.25s;
  width: 50%;
  align-self: center;
}

#change_password_submit:hover {
  cursor: pointer;
  transition: 0.25s;
  transform: translateY(-2px);
  box-shadow: 0px 5px 2px var(--shadow-color);
}
