.unauth_navbar {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--cyan2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  text-shadow: 5px 5px 0px var(--shadow-color);
  font-family: var(--font-kode);
  box-shadow: 0px 5px 5px var(--shadow-color);
}

.auth_navbar {
  background-color: var(--navbar-background);
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  gap: 20px;
}

.auth_navlink {
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--button-background);
  padding: 10px 20px;
  color: white;
  border-radius: 50px;
}
