.search_results_container {

}

.search_results_dropdown {
    position: absolute; /* Position relative to the parent container */
    /*top: 100%; /* Align directly below the input field */
    /*left: 0; /* Align to the left edge of the parent container */
    z-index: 10; /* Ensure it appears above other elements */
    min-width: 200px;
    max-width: 350px; /* Match the input field's width */
    margin-top: 0.25rem; /* Add small space between input and dropdown */
    background-color: white; /* Set background to white */
    border: 1px solid #d1d5db; /* Add border */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
